In [4]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.2.0-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/01/06 12:57:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [13]:
from pyspark.sql.types import *
from pyspark.sql.functions import *
import  pandas as pd

In [32]:
# df= spark.read.csv("hdfs://namenode:9000/nifi/confirm2022-01-0610-46-07.csv")
confirmed = spark.read.format("csv").option("header", "true").load("hdfs://namenode:9000/nifi/confirm2022-01-0610-46-07.csv").toPandas()
recovered = spark.read.format("csv").option("header", "true").load("hdfs://namenode:9000/nifi/confirm2022-01-0610-46-07.csv").toPandas()
death = spark.read.format("csv").option("header", "true").load("hdfs://namenode:9000/nifi/confirm2022-01-0610-46-07.csv").toPandas()

/usr/local/spark/python/pyspark/sql/pandas/conversion.py:202: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[column_name] = series

In [33]:
confirmed

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/27/21,12/28/21,12/29/21,12/30/21,12/31/21,1/1/22,1/2/22,1/3/22,1/4/22,1/5/22
0,None,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,157967,157998,158037,158056,158084,158107,158189,158183,158205,158245
1,None,Albania,41.1533,20.1683,0,0,0,0,0,0,...,207709,208352,208899,208899,210224,210224,210885,210885,212021,212021
2,None,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,216930,217265,217647,218037,218432,218818,219159,219532,219953,220415
3,None,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,22332,22540,22823,23122,23740,23740,23740,24502,24802,25289
4,None,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,71752,76787,78475,79871,81593,82398,82920,83764,84666,86636
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,None,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,1666545,1680985,1694874,1714742,1731257,1746092,1763040,1778976,1800704,1817721
276,None,West Bank and Gaza,31.9522,35.2332,0,0,0,0,0,0,...,468619,469452,469748,469748,469748,469748,469748,469748,471090,471414
277,None,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,10118,10123,10125,10126,10126,10127,10130,10138,10143,10146
278,None,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,234476,238383,243638,249193,254274,257948,259677,261221,265479,269991
279,None,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,205449,207548,207548,211728,213258,214214,214214,216087,217678,219057